.cbalink {
    display: none !important;
}

body {
	color: #2B2B2B;
	font-family: 'Arimo', sans-serif;
    
    background-color: #eeeeee
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    
    overflow: hidden;
}

/*************
*   header   *
*************/
#header {
    position: fixed;
    width: 100%;
    min-width: 500px; 
    height: 45px;
    z-index: 2;
    
    background-color: #303030;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
    
    overflow: hidden;
}

/**
* все треугольники
*/
.triangle {
    position: absolute;
    
    background-color: #252525;
    box-shadow: 0 0 5px rgba(0,0,0,0.75);
}

/*
* угол back
*/
#back_triangle {
    height: 200px;
    width: 600px;
    left: -250px;
    transform-origin: 50% 100%;
    transform: rotate(-45deg);
}

/*
* угол копирайта
*/
#copyright_triangle {
    height: 200px;
    top: -150px;
    width: 600px;
    right: -300px;
    transform-origin: 50% 100%;
    transform: rotate(-45deg);
}

/*
* блок back
*/
#back_block {
    position: absolute;
    height: 100%;
    width: 200px;
    
    opacity: 0.8;
}
#back_block:hover {
    opacity: 1;
}

/*
* стрелка back
*/
#back_arrow {
    position: absolute;
    top: 5px;
    height: 35px;
    width: 35px;
}

/*
* текст back
*/
#back_text {
    position: absolute;
    left: 35px;
    width: 100px;
    top: 8px;
    
    color: #eeeeee;
    font-size: 1.5em;
}

/*
* копирайт
*/
#copyright {
    position: absolute;
    top: 12px;
    right: 11px;
    z-index: 5;
    
    font-size: 1.1em;
    color: #eeeeee;
}

/*******************
*  Page container  *
*******************/
#page_container {
    position: absolute;
    width: 100%;
    height: 100%; 
    min-width: 600px; 
    
    font-size: 1.25em;
}

/*
* класс страниц
*/
.page {
    position: absolute;
    min-width: 500px;
    min-height: 500px;
    width: 85%;
    height: 85%;
    opacity: 0.95;
    margin: 5% 7.5% 10% 7.5%;
}